body
{
    display: flex;
}

#quadro
{
    width: 100%;
    height: 620px;
    border: 2px white solid;
}
.inputs > div
{
    display: grid;
    border: 1px solid white;
    min-width:auto;
    padding: .2rem;
    gap: .2rem;
}
.inputs
{
    display: grid;
    gap: 0.5rem;
}
.ratioAutoplay
{
    gap: .5rem;
}
button
{
    background-color: black;

}
.github
{
    display: grid;
    place-items: center;
}
a{
    color: crimson;
    text-decoration: none;
    background-image: linear-gradient(90deg,aquamarine,red);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
a:hover{
    color: aquamarine;
    background-size: 100% 3px;
}
@media (max-width:767px) /*1px menor que o tamanho "mesa digitalizadora" */
{
    body
    {
        display: grid;
    }
    .inputs > div
    {
        display: flex;
    }
    #quadro
    {
        width: 100%;
        height: 500px;
    }
    .github
    {
        place-items: center;
        place-content: center;
    }
}